.root {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: #dddcdc;
    width: 1200px;
    max-width: 100%;
    min-height: 480px;
    display: flex;
}
//
.tempW {
    width: 400px;
}
//
