@import "styles/colors";

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    span {
        color: #000;
        font-size: 0.8rem;
        text-align: center;
        padding: 0 10px;
    }
    svg {
        :global(.bp3-spinner-track) {
            stroke: rgba($primary-color, 0.2);
        }
        :global(.bp3-spinner-head) {
            stroke: rgba($primary-color, 0.8);
        }
    }
}

.spinnerContainer {
    position: relative;
    margin-top: 10px;
}

.value {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
